.article {
    margin: 100px auto;
    border: 5px solid black;

    background-color: white;

    padding: 40px;
}

.article:hover{
    border: 1px solid #2ecc71;
    box-shadow: 0 10px 10px 0 rgba(97, 98, 100, 0.75);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px rgba(66, 115, 136, 0.38);

    transition: all 0.2s cubic-bezier(0.12, 0.13, 0.14, 0.15);

}

.titre {
    width: 30%;
    height: auto;
    font-size: 22px;
    font-weight: bold;
    float: left;
    margin: 30px 50px;
}

.contenu {
    margin: 20px 30px;
    font-size: 12px;
}